:root {
    --main-background: #ffe5d9;
    --main-color:  #6699cc;
    --lmain-color: #a2d2ff;
    --inner-main-color: #457b9d;
    --text-color: black;
}

.card {
    background-color: var(--main-color);
    border-radius: 8px;
    margin: 10px 0;
    padding: 5px 15px;
    width: 100%;
}

.card:nth-of-type(even) {
    background-color: var(--lmain-color);
}

.btn {
    border: 1px solid var(--text-color);
    background-color: var(--inner-main-color);
    padding: 5px;
    border-radius: 15px;
    overflow: hidden;
}

.btn:hover {
    background-color: var(--lmain-color);
}

#cardfooter {
    margin: 10px 0;
    padding-top: 15px;
    border-top: 1px solid white;
}