:root {
    --main-background: #ffe5d9;
    --main-color:  #6699cc;
    --lmain-color: #a2d2ff;
    --inner-main-color: #457b9d;
    --text-color: black;
    --ltext-color: #000066;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    color: var(--text-color);
    border-radius: 8px;
    margin: 10px 20px;
    padding: 10px 15px;
    max-width: 500px;
    min-width: 35%;
}

.card:nth-of-type(even) {
    background-color: var(--lmain-color);
}

.card > img {
    max-width: 100%;
}

.card > * {
    margin-bottom: 0;
}

.card-title {
    font-size: 24px;
}

.btn {
    border: 1px solid var(--text-color);
    background-color: var(--inner-main-color);
    color: var(--ltext-color);
    padding: 6px;
    border-radius: 10px;
    overflow: hidden;
}

.btn:hover {
    background-color: var(--lmain-color);
}

#cardfooter {
    margin: 20px 0;
    padding-top: 15px;
    border-top: 1px solid var(--ltext-color);
    height: 30px;
    margin-top: auto;
}

.filler {
    background-color: chartreuse;
    height: 10px;
    width: 100%;
}