/** root elems for theme **/

/*
 Legacy theme --main-background: bisque; --main-color:  #0080ff; --inner-main-color: #6699ff; --lmain-color: lightblue; --text-color: black;
*/

:root {
    --main-background: #ffe5d9;
    --main-color:  #6699cc;
    --lmain-color: #a2d2ff;
    --inner-main-color: #457b9d;
    --text-color: black;
}

* {
    color: var(--text-color);
}

/*
 * The page is splitted into 3 parts : header, main then footer
*/

body,html {
    margin: 0;
    padding: 0;
}

#app { /* contains the 3 parts */
    min-height:100vh; /* i.e min height = 100% viewport height */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--main-background);
}

/** header **/

#top-header {
    height: 10%;
    min-height: 100px;
    background-color: var(--lmain-color);
}

#head {
    background-color: var(--lmain-color);
    text-align: center;
    color: white;
}

#job {
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    margin-right: 5px;
    color: var(--lmain-color);
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.link {
    text-decoration: none;
    border-bottom: 1px solid transparent;
    padding: 0px 20px;
}

.link:hover {
    color: seashell;
    border-bottom: 1px solid lightcyan;
    box-sizing: border-box;
}

.themer {
    display: block;
    border: none;
    margin-left: 20px;
    border: 1px solid var(--main-background);
    padding: 2px 6px;
    border-color: var(--main-background);
    background-color: var(--lmain-color);
    height: 2em;
}

/** main **/

#main {
    display: flex;
    justify-content: center;
}

/** **/

.container {
    margin: 20px 0;
    width: 65%;
}

.resume {
    max-width: 65%;
    max-width: 100vw;
    background-color: var(--main-color);
    display: flex;
}

.resume-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    justify-items: center;
}

.resume-body > * {
    font-size: 17px;
}

/* leftbar */
.leftBar {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    padding-right: 2%;
    background-color: var(--lmain-color);
}

.aboutme {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.profile-pic {
    margin-top: 20px;
    border-radius: 45px; /* circle picture */
    overflow: hidden;
}

#fullname {
    font-size: 20px;
}

.label.info {
    font-weight: bold;
}

.info {
    padding: 0 15px 0 0;
    margin: 0;
}

.labelicon {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 4px;
}

#about {
    margin-top: 20px;
    padding-top: 10px;
    width: 90%;
    margin-left: 5%;
    border-top: 1px solid var(--main-color);
}

.bibox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 15px;
}

/*right content*/

.r-header {
    margin-top: 20px;
    padding-bottom: 20px;
}

#r-title {
    color: var(--lmain-color);
}

.left-side {
    color: var(--text-color);
    text-align: center;
}

.maincontent {
    display: flex;
    flex-direction: column;
    max-width: 95%;
    padding-left: 2.5%;
}

.r-article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15px;
}

h3.article-label {
    border-bottom: 1px solid var(--lmain-color);
    padding-right: 5px;
    margin: 0;
    color: var(--lmain-color);
}

.paragraphs {
    padding-top: 10px;
    padding-left: 20%;
    width: 78%;
}

@media screen and (max-width: 600px) {
    .paragraphs {
      padding-left: 2px;
    }
    .maincontent {
        padding-left: 2px;
    }
  }

.s-title {
    margin: 5px 0;
}

.e-title {
    margin: 0;
    padding-top: 15px;
}

.education {
    padding: 0 auto;
}

.line {
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
}

.label.line {
    font-weight: bold;
}

.logos > img {
    margin-left: 2vh;
    margin: 5px 2vh;
}

.pagination {
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin: 20px 0;
}

.onetextimage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/** page footer **/

footer {
    height: 10%;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--lmain-color)
}

.efooter {
    display: flex;
    flex-direction: column;
}

.efooter > * {
    margin-bottom: 5px;
}