/** root elems for theme **/

/*
 Legacy theme --main-background: bisque; --main-color:  #0080ff; --inner-main-color: #6699ff; --lmain-color: lightblue; --text-color: black;
*/

:root {
    --main-background: #8AA1B1;
    --main-color:  #22577a;
    --lmain-color: #a2d2ff;
    --inner-main-color: #457b9d;
    --text-color: black;
}

* {
    color: var(--text-color);
}

/*
 * The page is splitted into 3 parts : header, main then footer
*/

body,html {
    margin: 0;
    padding: 0;
}

#app { /* contains the 3 parts */
    min-height:100vh; /* i.e min height = 100% viewport height */
    display: flex;
    flex-direction: column;
    background-color: var(--main-background);
}

/** header **/

header {
    height: 10%;
    min-height: 100px;
    background-color: var(--lmain-color);
}

#head {
    background-color: var(--lmain-color);
}

h1 {
    text-align: center;
    color: white;
}

#job {
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    margin-right: 5px;
    color: var(--lmain-color);
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.link {
    text-decoration: none;
    border-bottom: 1px solid transparent;
    padding: 0px 20px;
}

.link:hover {
    color: seashell;
    border-bottom: 1px solid lightcyan;
    box-sizing: border-box;
}

.themer {
    display: block;
    border: none;
    margin-left: 20px;
    border: 1px solid var(--main-background);
    padding: 2px 6px;
    border-color: var(--main-background);
    background-color: var(--lmain-color);
    height: 2em;
}

/** main **/

main {
    flex-grow: 1;
    margin-left: 2.5%;
    width: 95%;
}

.ads { /* all job ads */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card { /* one card = one job ad */
    flex: 1 0 90%;
    max-width: 90%;
}

.card-action {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-between;
}

.pagination {
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin: 20px 0;
}

.onetextimage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/** page footer **/

footer {
    height: 10%;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--lmain-color)
}

.efooter {
    display: flex;
    flex-direction: column;
}

.efooter > * {
    margin-bottom: 5px;
}