/** root elems for theme **/

/*
 Legacy theme --main-background: bisque; --main-color:  #0080ff; --inner-main-color: #6699ff; --lmain-color: lightblue; --text-color: black;
*/

:root {
    --main-background: #ffe5d9;
    --main-color:  #6699cc;
    --lmain-color: #a2d2ff;
    --inner-main-color: #457b9d;
    --text-color: black;
    --ltext-color: #000066;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
}

a {
    color: var(--text-color);
}

p {
    font-family: 'Nunito', serif;
}

/*
 * The page is splitted into 3 parts : header, main then footer
*/

body,html {
    margin: 0;
    padding: 0;
}

#app { /* contains the 3 parts */
    min-height:100vh; /* i.e min height = 100% viewport height */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--main-background);
}

/** header **/

#top-header {
    height: 10%;
    min-height: 100px;
    background-color: var(--lmain-color);
}

#head {
    background-color: var(--lmain-color);
    text-align: center;
    color: white;
}

#job {
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    margin-right: 5px;
    color: var(--lmain-color);
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.link {
    text-decoration: none;
    border-bottom: 1px solid transparent;
    padding: 0px 20px;
}

.link:hover {
    color: seashell;
    border-bottom: 1px solid lightcyan;
    box-sizing: border-box;
}

.themer {
    display: block;
    border: none;
    margin-left: 20px;
    border: 1px solid var(--main-background);
    padding: 2px 6px;
    border-color: var(--inner-main-color);
    background-color: var(--lmain-color);
    height: 2em;
}

.gallery {
    width: 70%;
}

/** main **/

#main {
    display: flex;
    justify-content: center;
}

/** **/

.container {
    margin: 20px 0;
    max-width: 90%;
    display: flex;
    flex-direction: column;
}

.cvheader {
    display: flex;
    position: relative;
    z-index: 0;
    background: var(--lmain-color);
}

.resume {
    max-width: 65%;
    max-width: 100vw;
    background-color: var(--main-color);
    display: flex;
}

.resume-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    justify-items: center;
}

.resume-body > * {
    font-size: 17px;
}

.bibox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    /*padding-bottom: 15px;*/
}

/** resume content **/

/* resume header */
.resume-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: var(--lmain-color);
    color: var(--text-color);
    margin-top: 10px;
    margin-bottom: 20px;
}

.left-rheader, .right-rheader {
    padding: 10px;
}

.left-rheader {
    width: 50%;
}

.fullname {
    display: flex;
    align-items: center;
    font-size: 39px;
    margin: 10px 0px 0px 0px;
}

.profile-pic {
    vertical-align: middle;
    margin-right: 15px;
    border-radius: 45px;
    min-width: 70px;
    overflow: hidden;
}

.svg_txt {
    display: flex;
    margin: 8px;
    height: 25px;
}

.svg-icon {
    height: 100%;
    fill: var(--ltext-color);
}

.svg-txt {
    margin-left: 10px;
}

.right-rheader > .bibox > .label > .labelicon {
    display: flex;
}

.right-rheader > .bibox > .label > .labelicon > .icondesc {
    margin-left: 10px;
    color: var(--text-color);
}


.maincontent {
    display: flex;
    flex-direction: column;
    /*padding-left: 2.5%;*/
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.logos > * {
    margin-bottom: 10px;
}

.logo {
    margin-right: 10px;
}

.r-article {
    margin-bottom: 15px;
}

.s-title {
    font-family: 'Laila', sans-serif, cursive;
    margin: 0 0 20px 0;
}

.label.info {
    color: var(--ltext-color);
}

.info {
    color: var(--text-color);
}

.interestlists {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.interestlists > .bibox {
    width: 30%;
    margin: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.interestlists > .bibox > .info {
    padding-top: 3px;
    min-height: 2.2em;
}

h3.article-label {
    font-family: 'Laila', sans-serif, cursive;
    font-size: 24px;
    text-align: center;
    background-color: var(--lmain-color);
    border-bottom: 1px solid var(--lmain-color);
    padding: 5px 30px;
    border-radius: 0px 0px;
    margin: 0;

    color: var(--ltext-color);
}

.paragraphs {
    color: var(--text-color);
    padding-top: 10px;
    padding-left: 10%;
    width: 78%;
}

.e-title {
    margin: 0;
    padding-top: 15px;
}

.education {
    padding: 0 auto;
}

.line {
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
}

.label.line {
    font-weight: bold;
}

.pagination {
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin: 20px 0;
}

.onetextimage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/** page footer **/

footer {
    height: 10%;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--lmain-color)
}

.efooter {
    display: flex;
    flex-direction: column;
}

.efooter > * {
    margin-bottom: 5px;
}